:root {
    --mainRed: rgb(255,160,159);
    --mainBlue: rgb(184,223,255);
    --boxShadowRed: 0 4px 15px 0 rgba(255,160,159,0.8); 
    --boxShadowBlue: 0 4px 15px 0 rgba(184,223,255,0.8); 

    --scorePositionHorizontal: 540px;
    --bottomSectionTop: 907px;
    --bottomSectionHeight: 173px;
}

/* Whole Page */
.wholePageCover {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-size: cover;
}
body { font-family: "Urbanist", sans-serif; }

/* --- Team Name --- */
.teamName {
    position: absolute; top: 20px;
    font-weight: 900;
    font-size: 60px;
    color: white;
    font-style: italic;
}
#redTeamName { left: 50px; }
#blueTeamName { right: 50px; }

/* --- Team Stars --- */
.teamStars {
    position: absolute; top: 90px;
    display: flex;
}
#redTeamStars { left: 50px; }
#blueTeamStars {
    right: 50px;
    flex-direction: row-reverse;
}

/* Individual Team Star */
.teamStar {
    border: 2px solid white;
    width: 38px; height: 38px;
    margin-right: 10px;
    transform: skew(-14deg);
    background-color: transparent;
    box-shadow: none;
}
.teamStarFillRed {
    background-color: var(--mainRed);
    box-shadow: var(--boxShadowRed);
}
.teamStarFillBlue {
    background-color: var(--mainBlue);
    box-shadow: var(--boxShadowBlue);
}

/* Chat Display */
#chatDisplay {
    position: absolute; left: 50%; top: var(--bottomSectionTop);
    transform: translateX(-50%);
    width: 650px; height: var(--bottomSectionHeight);
    background-color: rgb(60, 113, 183);
    overflow-x: hidden;
    overflow-y: scroll;
}
#chatDisplay::-webkit-scrollbar { display: none; }
/* Chat Message container */
.chatMessageContainer {
    margin: 2px 15px;
    font-weight: 700;
    display: flex;
}
/* Chat Message Contents */
.chatMessageTime { 
    color: rgb(215,215,215);
    width: 10%; 
}
.chatMessageContent { display: flex; }
.chatMessageText { 
    margin-left: 5px; 
    color: white;
}

/* Chat Name Colours */
.left { color: var(--mainRed) }
.right { color: var(--mainBlue) }
.unknown { color: yellow }
.bot { color: lightgreen }