
#main { background-image: url("static/background.png") }

/* --- Chat Display --- */
#chatDisplay { width: 1920px; }

/* --- Bans ---*/
/* Bans Text */
.bansText {
    position: absolute; top: 200px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    width: 125px; height: 50px;
    transform: skew(-14deg);
    line-height: 50px;
    color: black;
}
#redBansText {
    left: 50px;
    background-color: var(--mainRed);
}
#blueBansText {
    right: 50px;
    background-color: var(--mainBlue);
}
/* Bans Containers */
.banContainers {
    position: absolute; top: 260px;
    height: 110px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#redBanConainers { left: 50px; }
#blueBansContainer { right: 50px; }
/* Bans Container */
.bansContainer {
    position: relative;
    width: 250px; height: 50px;
    background-color: lightgray;
    transform: skew(-14deg);
    overflow: hidden;
}
.bansContainerBackground {
    position: absolute; top: 0; left: -7px;
    width: calc(100% + 14px); height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("https://assets.ppy.sh/beatmaps/984684/covers/cover.jpg");
    transform: skew(14deg);
}
.bansContainerLayer {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6)
}
.bansContainerText {
    position: absolute; 
    width: 250px; height: inherit;
    line-height: 50px;
    font-weight: 800;
    font-size: 36px;
    color: white;
}
.redBansContainerText { left: 22px; }
.blueBansContainerText { 
    right: 22px; 
    text-align: right;
}