:root {
    --sideBarColour: rgb(78,137,209);
}
#main { background-image: url("static/background.png") }

/* --- Logo --- */
#logo {
    position: absolute; left: 963px; top: 25px;
    transform: translateX(-50%);
    width: 240px; height: 128px;
}

/* --- Bans ---*/
/* Bans Text */
.bansText {
    position: absolute; top: 200px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    width: 125px; height: 50px;
    transform: skew(-14deg);
    line-height: 50px;
    color: black;
}
#redBansText {
    left: 50px;
    background-color: var(--mainRed);
}
#blueBansText {
    right: 50px;
    background-color: var(--mainBlue);
}
/* Bans Containers */
.banContainers {
    position: absolute; top: 260px;
    height: 110px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#redBanContainers { left: 50px; }
#blueBanContainers { right: 50px; }
/* Bans Container */
.bansContainer {
    position: relative;
    width: 250px; height: 50px;
    background-color: lightgray;
    transform: skew(-14deg);
    overflow: hidden;
}
.bansContainerBackground {
    position: absolute; top: 0; left: -7px;
    width: calc(100% + 14px); height: 100%;
    background-size: cover;
    background-position: center;
    transform: skew(14deg);
}
.bansContainerLayer {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6)
}
.bansContainerText {
    position: absolute; 
    width: 250px; height: inherit;
    line-height: 50px;
    font-weight: 800;
    font-size: 36px;
    color: white;
}
.redBansContainerText { left: 22px; }
.blueBansContainerText { 
    right: 22px; 
    text-align: right;
}

/* --- Now Playing Section --- */
#nowPlayingContainer {
    position: absolute; left: 50%; top: 200px;
    width: 600px; height: 170px;
    transform: skew(-14deg) translateX(-50%);
    overflow: hidden;
}
#nowPlayingBackground {
    position: absolute; left: -22px; top: 0;
    width: calc(100% + 44px); height: 100%;
    transform: skew(14deg);
    background-size: cover;
    background-position: center;
}
#nowPlayingLayer {
    position: absolute; top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6)
}
.nowPlayingWrapper {
    position: absolute; left: 50%; 
    transform: translateX(-50%);
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
    color: white;
    text-align: center;
}
#nowPlayingTitleSongWrapper { 
    top: 25px;
    font-size: 40px;
}
#nowPlayingDifficultyWrapper {
    top: 80px;
    font-size: 25px;
}
#nowPlayingTitleSong, #nowPlayingDifficulty {
    width: max-content;
    position: relative;
    display: inline-block;
    min-width: 100%; 
}
.nowPlayingTextWrap { 
    text-align: left;
	transform: translate(540px);
    animation: nowPlayingTextTranslate 12s infinite linear; 
}
@keyframes nowPlayingTextTranslate {
    0%, 20% { transform: translateX(0px); }
    80%, 100% { transform: translateX(calc(-100% + 552px)); }
}

/* Now Playing Stats */
#nowPlayingStats {
    position: absolute; left: 50%; top: 120px;
    width: 90%;
    font-weight: 600;
    font-size: 25px;
    color: white;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#nowPlayingStatsSR { color: gold; }

/* --- Map Pick Section --- */
#mapPicksContainer {
    position: absolute; top: 400px;
    width: 1920px; height: 340px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
/* Map Pick Container */
.mapPickContainer {
    position: relative;
    border: 5px solid white;
    transform: skew(-14deg);
    width: 105px; height: calc(100% - 10px);
    margin: 0 10px;
    overflow: hidden;
}
.mapPickBackground {
    position: absolute; left: -50px; top: 0; 
    width: calc(100% + 100px); height: 100%;
    background-size: cover;
    background-position: center;
    transform: skew(14deg);
}
.mapPickLayer {
    position: absolute; left: 0; top: 0; 
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6)
}
.mapPickText {
    position: absolute; left: 50%; top: 20px;
    transform: translateX(-50%);
    color: white;
    font-weight: 800;
    font-size: 32px;
}

/* --- Map Picker Section --- */
#mapPickerSection {
    position: absolute; top: 750px;
    width: 1837px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.mapPicker {
    width: 115px; height: 5px;
    background-color: white;
    margin: 0 10px;
    transform: skew(-14deg);
}

/* --- Map Button Section --- */
#mapButtonsSection {
    position: absolute; left: 50%; top: 780px;
    transform: translateX(-50%);
    width: 1034px;
    display: flex; flex-wrap: wrap;
    justify-content: center;
}
.mapButton {
    width: 80px; height: 35px;
    border: none;
    margin: 7px;
    font-weight: 800;
    font-size: 18px;
    background-color: white;
    transform: skew(-14deg);
}
.mapButton:active {
    background-color: gray;
    color: white;
}

/* --- Side Bar --- */
#sideBar {
    position: absolute; left: 1920px; top: 0;
    width: 750px; height: 1080px;
    background-color: var(--sideBarColour);
}
/* Side Bar Column */
.sideBarColumn {
    position: absolute; top: 0;
    width: 250px; height: 1080px;
}
#sideBarColumn1 { left: 0; }
#sideBarColumn2 { left: 250px; }
#sideBarColumn3 { left: 500px; }
/* Side Bar Divider */
.sideBarDivider {
    position: absolute; top: 0;
    width: 2px; height: 1080px;
    background-color: white;
}
#sideBarDivider1 { left: 249px; }
#sideBarDivider2 { left: 499px; }
/* Next Action */
.sideBarSectionHeader, #nextActionText {
    color: white;
    margin-left: 10px;
}
#nextActionText {
    font-weight: 600;
    font-size: 50px;
}
#nextActionButtons {
    position: relative; left: 50%; transform: translateX(-50%);
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.nextActionButton {
    width: 80px; height: 80px;
    margin: 10px;
    color: white;
    background-color: transparent;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 600;
}
.nextActionButton:active {
    background-color: white;
    color: var(--sideBarColour);
}
.fullWidthButton { width: 100%; }
#resetPicks {
    margin-top: 50px;
}
/* Pick Ban Management */
.pickBanManagementSelect {
    position: relative;
    left: 50%; transform: translateX(-50%);
    width: 200px;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;

}
.pickBanManagementSelect::-webkit-scrollbar { display: none; }
.pickBanManagementSelect > * { font-family: "Urbanist"; font-size: 24px; font-weight: 500; }
/* Pick Ban Management Map Selection */
.teamPickBanSelectMappoolMapSelect {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teamBanSelectMappoolMap {
    width: 60px; height: 31px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px; font-weight: 500;
    margin: 0px 10px;
    font-weight: 500
}
.teamPickSelectPickTileMap {
    width: 90px; height: 31px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px; font-weight: 500;
    margin: 0px 10px;
    font-weight: 500
}

/* Side Bar Apply Changes Button */
#applyChanges {
    margin-left: 10%;
}

/* Side Bar Scenes */
.controlLabel {
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

.sceneButton {
    width: 360px;
    height: 64px;
    margin-bottom: 12px;
    letter-spacing: normal;
    font-family: sans-serif;
    padding-left: 8px;
    font-size: 20px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    color: var(--red);
}

.activeScene {
    background-color: #3a8f29!important;
}

#autoAdvanceButton {
    height: 100px;
}